<style>

  @font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  src: url("fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  
.fa-phone:before{content:"\f095"}
.fa-key:before{content:"\f084"}.fa-eye:before{content:"\f06e"}
.fa-search::before { content: ""; }
.fa-envelope-o::before { content: ""; }
.fa-heart::before { content: ""; }
.fa-star::before { content: ""; }
.fa-star-o::before { content: ""; }
.fa-user::before { content: ""; }
.fa-check::before { content: ""; }
.fa-remove::before, .fa-close::before, .fa-times::before { content: ""; }
.fa-search-plus::before { content: ""; }
.fa-search-minus::before { content: ""; }
.fa-gear::before, .fa-cog::before { content: ""; }
.fa-home::before { content: ""; }
.fa-refresh::before { content: ""; }
.fa-volume-up::before { content: ""; }
.fa-photo::before, .fa-image::before, .fa-picture-o::before { content: ""; }
.fa-edit::before, .fa-pencil-square-o::before { content: ""; }
.fa-check-square-o::before { content: ""; }
.fa-plus-circle::before { content: ""; }
.fa-minus-circle::before { content: ""; }
.fa-times-circle::before { content: ""; }
.fa-check-circle::before { content: ""; }
.fa-info-circle::before { content: ""; }
.fa-times-circle-o::before { content: ""; }
.fa-check-circle-o::before { content: ""; }
.fa-ban::before { content: ""; }
.fa-arrow-left::before { content: ""; }
.fa-arrow-right::before { content: ""; }
.fa-arrow-up::before { content: ""; }
.fa-expand::before { content: ""; }
.fa-compress::before { content: ""; }
.fa-plus::before { content: ""; }
.fa-minus::before { content: ""; }
.fa-warning::before, .fa-exclamation-triangle::before { content: ""; }
.fa-comment::before { content: ""; }
.fa-gears::before, .fa-cogs::before { content: ""; }
.fa-comments::before { content: ""; }
.fa-star-half::before { content: ""; }
.fa-heart-o::before { content: ""; }
.fa-sign-out::before { content: ""; }
.fa-group::before, .fa-users::before { content: ""; }
.fa-save::before, .fa-floppy-o::before { content: ""; }
.fa-comment-o::before { content: ""; }
.fa-comments-o::before { content: ""; }
.fa-user-md::before { content: ""; }
.fa-plus-square::before { content: ""; }
.fa-star-half-empty::before, .fa-star-half-full::before, .fa-star-half-o::before { content: ""; }
.fa-info::before { content: ""; }
.fa-microphone::before { content: ""; }
.fa-microphone-slash::before { content: ""; }
.fa-minus-square::before { content: ""; }
.fa-minus-square-o::before { content: ""; }
.fa-check-square::before { content: ""; }
.fa-plus-square-o::before { content: ""; }
.fa-institution::before, .fa-bank::before, .fa-university::before { content: ""; }
.fa-send::before, .fa-paper-plane::before { content: ""; }
.fa-send-o::before, .fa-paper-plane-o::before { content: ""; }
.fa-share-alt::before { content: ""; }
.fa-share-alt-square::before { content: ""; }
.fa-diamond::before { content: ""; }
.fa-user-secret::before { content: ""; }
.fa-heartbeat::before { content: ""; }
.fa-user-plus::before { content: ""; }
.fa-user-times::before { content: ""; }
.fa-commenting::before { content: ""; }
.fa-commenting-o::before { content: ""; }
  </style>
<style> 
      .fr {
    float: right;
  }
  .fl {
    float: left;
  }
  .tbox {
    overflow: scroll;
    border-radius: 2px;
    border: 1px solid lightgrey;
    padding: 6px;
    max-height: 32px;
    min-height: 32px;
    height: 32px;
    font-weight: bold;
    overflow: hidden;
    resize: none;
  }
  .hid {
    display: none;
  }
  .noflow {
    overflow: hidden;
  }
  .hand {
    cursor: hand;
  }
  img {
    vertical-align: middle;
  }
  .break {
    overflow: auto;
    word-wrap: break-word; /* IE 5+ */
    overflow-x: hidden;
    overflow-wrap: break-word;
  }
  #cp .tab-content .tab-pane{
    min-width: 400px!important;
  }
  .u-ico {
    margin-top: 1px;  
    max-height: 18px;object-fit: scale-down;
  } 
  .emoi {
    max-width: 240px;
    max-height: 20px;
  }
  .unread {
    background-color: #ffc89d !important;
  }
  .object-fit {
    object-fit: contain;
    object-position: center right;
  } 
  table,
  th,
  td {
    border: 0;
  } 
  th,
  td {
    padding: 0px;
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
  .mini {
    font-size: 90% !important;
  }
  .corner {
    border-radius: 5px;
  }
  .minix {
    font-size: 80% !important;
  } 
  .nosel,
  .u-ico,
  .u-pic,
  .tago {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  .center {
    margin: 0 auto;
  }
  .dots {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  
  .borderg {
    border: 1px solid #f4f4f4;
  }
  .border {
    border: 1px solid black;
  } 
  .fitimg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  } 
  .bord {
    border-inline: 4px solid dodgerblue !important;
  }
  
  html {
    height: 100vh;
    width: 100vw;
  }  
  .fa {
    text-align: left;
  }
  
  .modal-header {
    padding: 5px;
  }
  
  .badge {
    padding: 0px 3px;
  }
    
  button.btn {
    padding: 5px 5px;
  }
   
  .d2 {
    padding-bottom: 2px;
  }
  .d2,#rooms,#users{background-color: #fafafa!important;}
  .popover-content {
    padding: 1px;
  } 
    </style>
<style> 
      * {
      font-family: serif;
      font-weight: bold;
      text-shadow: none!important;
      font-size: 15.2px !important;line-height: 1.4!important;  font-weight:700!important;text-shadow:none!important;
  } 
  .u-msg{line-height: 1.5!important;}
      .ae { 
        border: 1px solid black!important; 
        border-radius: 2px!important; 
        float: left;
        text-align: center;width: 20%; max-width: 80px;
        padding: 4px 0px;
        margin: 1px;margin-bottom: 2px;
      }
      .pmsgc {
        background-color: rgba(0, 77, 255, 0.08)!important; 
 
  .mic{
    width:53px;height:50px;margin:1px;border-radius:4px;background-image: url(imgs/mic.png);background-size: cover;background-repeat: no-repeat;background-position: center;
  }
  .typingIndicatorBubbleDot:first-of-type {
    margin: 0px 4px;
  }
  
  .typingIndicatorBubbleDot:nth-of-type(2) {
    animation-delay: 0.15s;
  }
  
  .typingIndicatorBubbleDot:nth-of-type(3) {
    animation-delay: 0.3s;
  }
  .flex-grow-1 {
    flex-grow: 1 !important;
  }
  .c-flex {
    display: flex;
      flex-direction: column;
  }
  .d-flex{
    display: flex; 
  }
  .flex-fill {
    flex: 1 1 auto !important;
  }
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .bgf {
      background-color: rgba(0, 0, 0, .5);
    }
  }
  .nav-pills li a{border-radius: 0px!important;}
      @keyframes bounce {
    0%,
    60%,
    100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-4px);
    }
  } 
  td {
    border: 1px solid grey;
    font-weight: bold;
  }  
  th {
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
  }
  .tab-pane{
    padding: 0px;
    width: 100%;
  }
   .pgr{
    -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
   }
  html {
      overflow: hidden;
  } 
  .tc{
    border-radius: 3px!important;
  } 
 
.bgf{
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .bgf {
    background-color: rgba(0, 0, 0, .5);
  }
}td{overflow-y: hidden!important;}

    </style>
